data_temp/
nsrmp/namas@*
data_multistep/
data_3step/
data/
data_0.0/
data_1.0/
data_new/
data_3step_new/
data_old_new/
data_old/
.ipynb_checkpoints
try.ipynb
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
__pycache__
*.ipynb
*.pyc
nsrmp/runs/
Jacinle/
dataset/
*.ipynb
nsrmp/wandb
*/*.ipynb
.vscode
*/Jacinle
*/*/*.pyc
*/*/*/*.pyc
dumps
new_saved/
nsrmp/plan-gt.png
nsrmp/plan-predicted.png
nsrmp/recorded.mp4
nsrmp/rgba.png
recons/
saved_instances/
object_detection/
.DS_Store
garbage.txt
